@charset "UTF-8";
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */


/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}

/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* line 4, ../sass/style.scss */
body {
    font-size: 18px;
    /*font-weight: 700;*/
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(245, 243, 239);
    padding-bottom: 60px;
}

.navbar {
    z-index: 1;
    color: white;
    min-height: 60px;
    padding: 25px 100px;
    position: absolute;
    left: 0;
    right: 0;
}

nav ul li {
    padding: 7px 0;
}

nav ul li a {
    float: left;
    padding: 10px 15px;
}

.navbar-logo {
    padding-left: 90px;
    float: left;
    font-weight: 500;
}

.navbar-right {
    float: right;
    font-weight: 300;
}

nav a:hover {
    color: #154440;
}

nav ul li.over a:hover,
nav ul li:hover a:hover {
    color: #154440;
    box-shadow: 0px 0px 5px white;
    background-color: rgba(251, 251, 251, 0.65);
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navbar-right li:last-child a {
    border: solid 1px white;
    border-radius: 3px;
}

@media (min-width: 768px) {
    .navbar-logo {
        font-size: 2.7em;
    }
}

.container {
    z-index: 1;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    position: relative;
    width: 100%;
    height: 855px;
    background: url("../images/sunset-resized.jpg") -280px -20px no-repeat;
    /* opacity:0.4;
     filter:alpha(opacity=40);*/
    color: white;
    font-weight: 700;
    text-align: center;
}

.header-search {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.header-intro {
    padding-left: 103px;
    height: 29%;
    width: 100%;
    overflow: hidden;
}

.search-title {
    display: block;
    word-spacing: -2px;
    font-size: 2em;
    font-weight: 500;
}

.search-intro {
    margin-top: 10px;
    font-weight: 100;
    display: block;
    letter-spacing: -1px;
}

.form-submit {
    margin: 27px auto;
    text-align: center;
}

.input-group, .input-group button, .input-group input {
    height: 60px;
    font-weight: 700;
}

.form-submit button:hover {
    background-color: aquamarine;
    color: black;
}

.form-submit input {
    border: none;
    border-radius: 5px 0 0 5px;
    width: 42%;
    background-color: rgba(245, 243, 240, 0.63);
    padding: 10px 15px
}

.form-submit input::-webkit-input-placeholder {
    color: white !important;
}

.form-submit button {
    color: white;
    margin-left: -8px;
    border: none;
    width: 10%;
    border-radius: 0 3px 3px 0;
    background-color: #00E1A9;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(132, 137, 150, 0.5);
}

.product-list {
    position: relative;
    padding-left: 99px;
    top: -91px;
}

.product-list ul {
    background-color: #F5F3EF;
    border: solid 1px #b0b7b2;
    border-right: none;
    border-radius: 3px;
    width: 100%;
    text-align: center;
}

.product-list li {
    width: 25%;
    padding: 49px 0;
    border-right: solid 1px #b0b7b2;
    font-size: small;

}

.product-list strong {
    font-weight: 700;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 12px;
    line-height: 28px;
    letter-spacing: 1px;
}

.title {
    font-size: 1.5em;
}

h3, h4 {
    padding: 10px 0;
}

h3 {
    width: 108%;
    font-size: 1rem;
    font-weight: 700;
}

h4 {
    font-size: 1.15rem;
    font-weight: 700;
}

.work-compare {

}

.how-work {
    text-align: center;
    top: -25px;
    position: relative;
    padding-bottom: 22px;
}

.how-work ul {
    padding: 48px 30px;
    width: 107%;
}

.how-work li {
    width: 33.33%;
    padding: 15px 56px;
}

.how-work h3::before {
    margin: 0 auto;
    display: block;
    content: "";
    height: 0px;
    width: 40px;
    bottom: -30px;
    position: relative;
    border-bottom: solid 4px #E0DADA;
    box-shadow: 0 1px 1px white;
    -webkit-box-shadow: 0 1px 1px white;
}

.how-work ul li span {
    margin: 0 auto;
    padding: 10px 0;
    width: 40px;
    display: block;
    border: solid 1px #CECDCD;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    background-color: white;
}

.how-work ul li:first-child span::after,
.how-work ul li:nth-child(2) span::after {
    content: "";
    height: 0px;
    display: block;
    width: 914%;
    position: relative;
    top: -10px;
    left: 38px;
    border: solid 1px #D4D1D1;
    -webkit-box-shadow: 0 1px 0px white;
    box-shadow: 0 1px 0px white;
}

.how-work img {
    margin: 36px auto 0;
    display: block;
}

p {
    font-size: 13px;
    line-height: 18px;
    color: #5F5D5D;
}

.why-choose {
    padding: 80px 30px;
}

.why-choose h3 {
    text-align: center;
}

.why-choose h3::before {
    margin: 0 auto;
    display: block;
    content: "";
    height: 0px;
    width: 40px;
    bottom: -30px;
    position: relative;
    border-bottom: solid 4px #E0DADA;
    box-shadow: 0 1px 1px white;
    -webkit-box-shadow: 0 1px 1px white;
}

.why-choose ul {
    padding-top: 25px;
    margin-left: 68px;
}

.why-choose li {
    width: 50%;
    padding-left: 78px;
    padding-right: 88px;
}

.why-choose img {
    left: -80px;
    top: 48px;
    position: relative;
}

hr {
    width: 100%;
}

ul {
    overflow: hidden;
}

.switch {
    padding: 129px 68px 0 68px;
    text-align: center;
    margin-left: 137px;
}

.switch ul {
    margin: 0 auto;
    width: 36%;
}

.switch > ul {
    width: 36%;
    border: solid 1px #b0b7b2;
    border-radius: 5px;
}

.switch > ul li {
    width: 50%;
    padding: 21px 0px;
}

.switch > ul li:first-child {
    color: white;
    background-color: #154440;
    border-right: solid 1px black;
}

.switch-photo img {
    padding: 10px;
    width: 120px;
    height: 120px;
    border: 1px solid #F4F3F1;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.switch-photo li.over img,
.switch-photo li:hover img {
    padding: 0;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.switch-photo {
    padding-top: 40px;
}

.switch-photo p {
    font-size: 1.25rem;
    margin-top: 13px;
    line-height: 25px;
}

.switch-photo:before {
    font-size: 2em;
    content: "“";
    font-weight: 900;
    color: gray;
}

.switch-photo ul {
    margin-top: 91px;
    width: 45%;
}

.switch-photo ul li {
    width: 33.33%;
    padding: 20px 17px;
}

.footer-search {
    margin-top: 100px;
    padding: 83px 0;
    position: relative;
    background: url("../images/sunset-resized.jpg") right center no-repeat;
}

.search {
    position: relative;
}

.footer-search::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(132, 137, 150, 0.4);
}

.footer-search label {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 17px;
    margin-left: 94px;
}

.footer-search .form-submit input {
    width: 46%;
}

footer {
    font-size: 16px;
    padding: 5px 187px;
    color: #71716F;
    background-color: white;
}

footer ul li.over a:hover,
footer ul li:hover a:hover {
    background-color: rgba(176, 183, 178, 0.6);
    color: white;
}

.footer-fixed {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
